<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="logo/logo-900x900-carre.png">
    <link rel="stylesheet" href="asset/root.css">
    <link rel="stylesheet" href="asset/normalize.css">
    <link rel="stylesheet" href="asset/basic.css">
    <link rel="stylesheet" href="asset/header.css">
    <link rel="stylesheet" href="asset/footer.css">
    <link rel="stylesheet" href="actualites.css">
    <link rel="stylesheet" href="animation/animation.css">
    <link rel="stylesheet" href="mobile/mobile.css">
    <script src="animation.js"></script>
    <script src="cookies.js"></script>
    <title>Nos Actualités</title>
</head>
<body>
    <header>
        <% if(!cookies) { %>
            <div id="cookie-bar">
                <p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. En continuant à naviguer, vous acceptez notre utilisation des cookies.</p>
                <button id="accept-cookies">Accepter</button>
            </div>
        <% }; %>
        <div id="menu" class="menu">
            <div class="fadeInDown">
                <a href="/">
                    <img class="logo_tpms" src="logo/logo-tpms.png" alt="logo-TPMS">
                </a>
            </div>
            <ul id="linkMenu" class="fadeInDown">
                
                <li class="flipInY"><a class="border-red" href="tel:+33164429830">TEL:01.64.42.98.30</a></li>
                <li><a class="border-black" href="prestations">Prestations</a></li>
                <li><a class="border-black" href="actualites">Nos actualités</a></li>
            </ul>
            <ul id="reseaux-social">
                <li><a href="https://fr.linkedin.com/in/tpms-patrizio-arillotta-17917912a"><img class="rs_img" src="socials/linkedin.png" alt="Linkedin"></a></li>
                <li><a href="https://www.youtube.com/@tpmslocation883/"><img class="rs_img" src="socials/youtube.png" alt="Youtube"></a></li>
                <li><a href="https://www.facebook.com/tpmsterrassement/"><img class="rs_img" src="socials/facebook.png" alt="Facebook"></a></li>
                <li><a href="https://www.instagram.com/tpmslocation/"><img class="rs_img" src="socials/instagram.png" alt="Instgram"></a></li>
            </ul>
        </div>
    </header>
    <main>
        <section id="actu">
            <h1 class="centralH">Nos actualités</h1>
            <div class="grid3">
                <article>
                    <div>
                        <h2>Prêt à brumiser</h2>
                        <p>
                            TPMS est heureux de vous annoncer
                            son partenariat avec le Société GEMMO
                            et agrandit son parc en vous proposant...
                        </p>
                        <a href="/articles/pret_a_brumiser">
                            <pre>la Suite</pre>
                        </a> 
                    </div>
                </article>
                <article>
                    <div>
                        <h2>TPMS le fait évoluer</h2>
                        <p>
                            Le nouveau chariot élévateur sur chenille
                            est maintenant équipé de l'avancement du
                            bras et dun tablier à déplacement latéral ...
                        </p>
                        <pre>la Suite</pre>
                    </div>
                </article>
                <article>
                    <div>
                        <h2>Bientôt chez TPMS</h2>
                        <p>
                            Bientôt chez TPMS, un canon 
                            brumisateur capable de propulser de 
                            l'eau à 65 m sur tous vos chantiers...
                        </p>
                        <pre>la Suite</pre>
                    </div>
                </article>
            
                <article>
                    <div>
                        <h2>TPMS au vert</h2>
                        <p>
                            L'espace de 2 jours, l'équipe TPMS a pris
                            l'air au pied des montagnes dans Le Grand 
                            Bornant pour la pose d'une cuve...
                        </p>
                        <pre>la Suite</pre>
                    </div>
                </article>
                <article>
                    <div>
                        <h2>TPMS l'a fait !</h2>
                        <p>
                            Le chariot élévateur thermique sur chenille,
                            c'est fait ! Ercules combine la commodité 
                            du chariot élévateur sur roue classique...
                        </p>
                        <pre>la Suite</pre>
                    </div>
                </article>
                <article>
                    <div>
                        <h2>Prenez une journée !</h2>
                        <p>
                            Parce que nous savons que vous êtes 
                            curieux, nous vous donnons les dates 
                            à retenir des salons professionnels...
                        </p>
                        <pre>la Suite</pre>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <section id="contact_them">
            <h2>Contactez-nous : </h2>
            <div class="concat">
                <div>
                    <ul>
                        <li>Tél : 01 64 42 98 30</li>
                        <li>Mail: contact@tpms.fr </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Adresse :</li>
                        <li>ZAC du closeau 9 rue Louis Armand,</li>
                        <li>Tournan en brie, 77220</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Projets réalisés : 305</li>
                        <li>Clients: 92</li>
                        <li>Machines de chantiers: 8 </li>
                    </ul>
                </div>
                <div>
                    <img class="logo_tpms" src="../logo/logo-tpms.png" alt="logo-TPMS">
                </div>
                <ul>
                    <li>Conditions générales de vente</li>
                    <li>Mentions légales</li>
                    <li>Politique de confidentialité</li>
                </ul>
                <ul>
                    <li>© 2023 TPMS </li>
                    <li>| Réalisé par Monades |</li>
                </ul>
            </div>
        </section>
    </footer>
</body>
</html>
