<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="logo/logo-900x900-carre.png" />
    <link rel="stylesheet" href="asset/root.css">
    <link rel="stylesheet" href="asset/normalize.css">
    <link rel="stylesheet" href="asset/basic.css">
    <link rel="stylesheet" href="asset/header.css">
    <link rel="stylesheet" href="asset/footer.css">
    <link rel="stylesheet" href="prestation.css">
    <link rel="stylesheet" href="animation/animation.css">
    <script src="animation.js"></script>
    <title>Prestations</title>
</head>
<body>
    <header>
        <div id="menu" class="menu">
            <div class="fadeInDown">
                <a href="/">
                    <img class="logo_tpms" src="logo/logo-tpms.png" alt="logo-TPMS">
                </a>
            </div>
            <ul id="linkMenu" class="fadeInDown">
                
                <li><a class="border-red" href="https://www.google.com/search?client=firefox-b-d&q=tpms&tbs=lf:1,lf_ui:2&tbm=lcl&rflfq=1&num=10&rldimm=9556790859305578190&lqi=CgR0cG1zSIOVnqiPrYCACFoKEAAYACIEdHBtc5IBGXJvYWRfY29uc3RydWN0aW9uX2NvbXBhbnmqAQwQASoIIgR0cG1zKAQ&ved=2ahUKEwiMsaGux4D9AhWdRaQEHVDrBG8QvS56BAhOEAE&sa=X&rlst=f#rlfi=hd:;si:9556790859305578190,l,CgR0cG1zSIOVnqiPrYCACFoKEAAYACIEdHBtc5IBGXJvYWRfY29uc3RydWN0aW9uX2NvbXBhbnmqAQwQASoIIgR0cG1zKAQ;mv:[[52.8344776,7.476759500000001],[43.021749299999996,-2.4323166]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2">TEL:01.64.42.98.30</a></li>
                <li><a class="border-black" href="prestations">Prestations</a></li>
                <li><a class="border-black" href="actualites">Nos actualités</a></li>
            </ul>
            <ul id="reseaux-social">
                <li><a href="https://fr.linkedin.com/in/tpms-patrizio-arillotta-17917912a"><img class="rs_img" src="socials/linkedin.png" alt="Linkedin"></a></li>
                <li><a href="https://www.youtube.com/@tpmslocation883/"><img class="rs_img" src="socials/youtube.png" alt="Youtube"></a></li>
                <li><a href="https://www.facebook.com/tpmsterrassement/"><img class="rs_img" src="socials/facebook.png" alt="Facebook"></a></li>
                <li><a href="https://www.instagram.com/tpmslocation/"><img class="rs_img" src="socials/instagram.png" alt="Instgram"></a></li>
            </ul>
        </div>
    </header>
    <main class="main">
        <section class="intro">
            <h1>TPMS Terrassement, spécialiste des travaux publics, VRD, de la location de machines avec chauffeur et d'aménagement extérieur.</h1>
            <article id="professionnels" class="block">
                <div><h2>Pour les professionnels :</h2></div>
                <p>
                    •	Travaux de voirie et réseaux divers<br>
                    •	Assainissement et évacuation des eaux<br>
                    •	Démolition et terrassement de tous types de terrain<br>
                    •	Aménagement extérieur personnalisé<br>
                    •	Location de machines avec chauffeur pour tous vos besoins<br>
                    •	Location de canons brumisateurs professionnels.<br>
                </p>
            </article>
            <article id="particuliers" class="block">
                <div><h2>Pour les particuliers :</h2></div>
                <p>
                    •	Assainissement individuel et collectif<br>
                    •	Réseaux divers pour tous types de construction<br>
                    •	Aménagement extérieur pour votre jardin ou terrasse<br>
                    •	Démolition et terrassement pour vos projets de construction ou de rénovation<br>
                </p>
            </article>
            <pre>On vous explique tout !</pre>
        </section>
        
        <section id="Voirie_Réseaux_Divers" class="article">
            <h1>VRD : voirie et réseaux divers</h1>
            <article class="block">
                <h2>La VRD (voirie et réseaux divers) regroupe plusieurs types de missions essentielles : </h2>
                
                <p>
                    - Travaux de canalisations, d'aménagement et de circulation<br>
                    - Réalisation des voies d'accès<br>
                    - Enfouissement des réseaux<br>
                    - Mise en œuvre des réseaux d'eau, d'électricité, de gaz et de télécommunication<br>
                    - Réalisation des voies de circulation : chemins, trottoirs, enrobage, gravillonnage, voies publiques, trottoir, parking<br>
                    - Pose de bordures, caniveaux<br>
                    - Pose de panneaux de signalisation<br>
                    - Marquage au sol
                </p>
                <p>La VRD est un métier majeur dans le BTP. TPMS a toutes les compétences requises pour vous assurer une réalisation efficiente, maîtrisée et respectant les normes obligatoires.</p>
            </article>
            <article class="block">
                <h2>La VRD est régie par une réglementation stricte que nous respectons scrupuleusement.</h2>
                <p>L'enfouissement des réseaux de gaz, d'électricité et d'eau doit être fait dans les règles de l'art.</p>
                <p>La réglementation est stricte et a pour but de :</p>
                <p>
                    - Reconnaître chaque réseau grâce à son marquage<br>
                    - Normer la pose sur tout le territoire afin que chaque acteur du BTP s'y retrouve<br>
                    - Protéger l'environnement<br>
                    - Protéger les usagers
                </p>
                <p>Lors de la pose des réseaux qui nous permettent de nous alimenter en eau, électricité, gaz, fibre, il est essentiel de marquer chaque trou à l’aide de grillages de couleurs différentes. Ces grillages permettent d’identifier aisément le réseau posé. Un exemple, le grillage pour les tuyaux de gaz est jaune. Maitriser parfaitement la réglementation en vigueur permet de livrer un travail aux normes et de qualité.</p>
            </article>
            <article class="block">
                <h2>Les pelles et minipelles avec chauffeur</h2>
                <p>Nous apportons également notre expertise aux bureaux d'études en les accompagnant dans leurs différentes missions sur le terrain.</p>
                <p>Nous disposons d'un parc de machines qui nous permet de répondre à un large éventail de besoins.</p>
                <p>Grâce à nos locations de pelles et minipelles avec chauffeur, nous vous apportons notre savoir-faire et expérience sur le terrain pour :</p>
                <p>
                    - La créations des accès chantiers dans des endroits boisés ou compliqués<br>
                    - La reconnaissance de fondations<br>
                    - La reconnaissance des réseaux existants<br>
                    - La création des réseaux<br>
                    - Solution de citernage. L'eau n'est pas accessible et vous en avez besoin, on vous l'apporte au pied de votre chantier grâce à nos solutions mobiles.
                </p>
            </article>
        </section>
    </main>
    <footer>
        <section id="contact_them">
            <h1>Contactez-nous : </h1>
            <article>
                <div>
                    <ul>
                        <li>Tél : 01 64 42 98 30</li>
                        <li>Mail: contact@tpms.fr </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Adresse :</li>
                        <li>ZAC du closeau 9 rue Louis Armand,</li>
                        <li>Tournan en brie, 77220</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Projets réalisés : 305</li>
                        <li>Clients: 92</li>
                        <li>Machines de chantiers: 8 </li>
                    </ul>
                </div>
                <div>
                    <img class="logo_tpms" src="logo/logo-tpms.png" alt="logo-TPMS">
                </div>
                <ul>
                    <li>Conditions générales de vente</li>
                    <li>Mentions légales</li>
                    <li>Politique de confidentialité</li>
                </ul>
                <ul>
                    <li>© 2023 TPMS </li>
                    <li>| Réalisé par Monades |</li>
                </ul>
            </article>
        </section>
    </footer>
</body>
</html>
