<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../logo/logo-900x900-carre.png" />
    <link rel="stylesheet" href="../asset/root.css">
    <link rel="stylesheet" href="../asset/normalize.css">
    <link rel="stylesheet" href="../asset/basic.css">
    <link rel="stylesheet" href="../asset/header.css">
    <link rel="stylesheet" href="../asset/footer.css">
    <link rel="stylesheet" href="../actualites.css">
    <link rel="stylesheet" href="../animation/animation.css">
    <link rel="stylesheet" href="../mobile/mobile.css">
    <script src="animation.js"></script>
    <title>Page inexistante</title>
</head>
<body>
    <header>
        <div id="menu" class="menu">
            <div class="fadeInDown">
                <a href="/">
                    <img class="logo_tpms" src="../logo/logo-tpms.png" alt="logo-TPMS">
                </a>
            </div>
            <ul id="linkMenu" class="fadeInDown">
                
                <li><a class="border-red" href="https://www.google.com/search?client=firefox-b-d&q=tpms&tbs=lf:1,lf_ui:2&tbm=lcl&rflfq=1&num=10&rldimm=9556790859305578190&lqi=CgR0cG1zSIOVnqiPrYCACFoKEAAYACIEdHBtc5IBGXJvYWRfY29uc3RydWN0aW9uX2NvbXBhbnmqAQwQASoIIgR0cG1zKAQ&ved=2ahUKEwiMsaGux4D9AhWdRaQEHVDrBG8QvS56BAhOEAE&sa=X&rlst=f#rlfi=hd:;si:9556790859305578190,l,CgR0cG1zSIOVnqiPrYCACFoKEAAYACIEdHBtc5IBGXJvYWRfY29uc3RydWN0aW9uX2NvbXBhbnmqAQwQASoIIgR0cG1zKAQ;mv:[[52.8344776,7.476759500000001],[43.021749299999996,-2.4323166]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2">TEL:01.64.42.98.30</a></li>
                <li><a class="border-black" href="prestations">Prestations</a></li>
                <li><a class="border-black" href="actualites">Nos actualités</a></li>
            </ul>
            <ul id="reseaux-social">
                <li><a href="https://fr.linkedin.com/in/tpms-patrizio-arillotta-17917912a"><img class="rs_img" src="../socials/linkedin.png" alt="Linkedin"></a></li>
                <li><a href="https://www.youtube.com/@tpmslocation883/"><img class="rs_img" src="../socials/youtube.png" alt="Youtube"></a></li>
                <li><a href="https://www.facebook.com/tpmsterrassement/"><img class="rs_img" src="../socials/facebook.png" alt="Facebook"></a></li>
                <li><a href="https://www.instagram.com/tpmslocation/"><img class="rs_img" src="../socials/instagram.png" alt="Instgram"></a></li>
            </ul>
        </div>
    </header>
    <main>
        <section class="error errorPage">
            <article>
                <div>
                    <span>la page : "<%= page %>" n'existe pas.</span>
                    <span>Retour à l'accueil : <a href="/">Ici</a></span>
                </div>
            </article>
        </section>
    </main>
    <footer>
            
        <section id="contact_them">
            <h1>Contactez-nous : </h1>
            <article>
                <div>
                    <ul>
                        <li>Tél : 01 64 42 98 30</li>
                        <li>Mail: contact@tpms.fr </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Adresse :</li>
                        <li>ZAC du closeau 9 rue Louis Armand,</li>
                        <li>Tournan en brie, 77220</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Projets réalisés : 305</li>
                        <li>Clients: 92</li>
                        <li>Machines de chantiers: 8 </li>
                    </ul>
                </div>
                <div>
                    <img class="logo_tpms" src="../logo/logo-tpms.png" alt="logo-TPMS">
                </div>
                <ul>
                    <li>Conditions générales de vente</li>
                    <li>Mentions légales</li>
                    <li>Politique de confidentialité</li>
                </ul>
                
                
                <ul>
                    <li>© 2023 TPMS </li>
                    <li>| Réalisé par Monades |</li>
                </ul>
            </article>
        </section>
    </footer>
</body>
</html>
