<footer>
            
    <section id="contact_them">
        <h1>Contactez-nous : </h1>
            <article>
                <div>
                    <ul>
                        <li><%= tel %></li>
                        <li><%= mail %></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Adresse :</li>
                        <li><%= adresse %></li>
                        <li><%= ville %></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><%= projetRealise %></li>
                        <li><%= client %></li>
                        <li><%= machineChantier %></li>
                    </ul>
                </div>
                <div>
                    <img src="logo/logo-tpms.png" alt="logo-TPMS">
                </div>
                <ul>
                    <li>Conditions générales de vente</li>
                    <li>Mentions légales</li>
                    <li>Politique de confidentialité</li>
                </ul>
                
                
                <ul>
                    <li>© 2023 TPMS </li>
                    <li>| Réalisé par Monades |</li>
                </ul>
            </article>
        
    </section>
</footer>